:root {
	--black: #101210;
	--black-transparent: rgba(16, 18, 16, 0.9);
	--white: #FDFFFD;

	--green-100: #171C16;
	--green-600: #58B860;
	--green-900: #75D187;

	--gray-100: #555555;
	--gray-900: #BABABA;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	scroll-behavior: smooth;
}
body {
	color: var(--black);
	background-color: var(--white);
}

body, input, select, textarea, button {
	font: 400 1rem 'Lato', sans-serif;
}

a {
	cursor: pointer;
	color: inherit;
}

/*-------------------------Scroolbar-------------------*/
body::-webkit-scrollbar {
	width: 0.9rem;
}

body::-webkit-scrollbar-track {
	background: var(--black);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--green-600);
	border-radius: 5rem;
	border: 0.3rem solid var(--black);
}

/*-------------------------Header-------------------*/
.header-container {
	position: fixed;
	width: 100%;
	height: 4rem;
	transition: all 0.5s;
}

.header-container.menuFixed {
	transition: all 0.5s;
	background-color: var(--black-transparent);
	border-bottom: 1px solid var(--gray-100);
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	height: inherit;
	margin: 0 auto;
}

.header-logo {
	margin-left: 2rem;
	font-size: 2rem;
	font-weight: 900;
	color: var(--white);
}

.header-logo span {
	color: var(--green-600);
}

.header-menu {
	margin-right: 2rem;
}

.link {
	display: inline-block;
}

.link a {
	font-weight: 700;
	margin-left: 1.5rem;
	color: var(--white);
	transition: all .4s;
}

.link a:hover {
	color: var(--green-600);
}

.link a:active {
	color: var(--green-900);
}

/*-------------Sections------------------*/
main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 0 auto;
}

/*--------------Home------------------*/
#home {
	color: var(--white);

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	min-height: 400px;
	max-height: 650px;

	background: url(../assets/bg1.png),
				url(../assets/bg1.png),
				linear-gradient(50deg, var(--green-900), var(--green-100));
	background-position: center;
	background-attachment: fixed;

}

.home-content {
	max-width: 1200px;
	min-height: 400px;
	max-height: 600px;
	
	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	height: 100%;
	width: 100%;
}

.home-content p, .home-content h1 {
	line-height: 3.5rem;
}

.home-content p {
	font-size: 1.7rem;
}

.home-content h1 {
	color: var(--green-600);
	font-size: 3.5rem;
}

.social-media {
	margin-right: 2rem;
	font-size: 1.7rem;
	color: var(--white);
	transition: all 0.4s ease;
}

.social-media:hover {
	color: var(--green-600);
}
.cta-button {
	margin-top: 1rem;
	padding: 0.5rem;

	font-weight: 700;
	font-size: 2rem;
	background-color: var(--green-600);
	color: var(--black);
	
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.4s ease;
}

.cta-button:hover {
	background-color: var(--green-900);
}

/*-------------Sobre------------------*/
#about {
	
	padding-top: 4rem;
	margin-top: -4rem;
	
	color: var(--black);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-container{
	width: 100%;
	max-width: 1200px;
}

.title-section {
	display: block;
	text-align: center;
	justify-content: center;
	margin-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--black);
}

.about-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	/* height: 70vh; */
}

.about-text-area {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 50%;
	max-width: 700px;
}

.about-btn-text {
	display: flex;
	position: relative;
	margin-bottom: 1rem;
	width: 100%;
}

.btn-h6 {
	text-align: start;
	margin-right: 2rem;
	padding: 0.5rem 0.2rem;
	font-size: 1.1rem;
	font-weight: 700;
}

.btn-h6::before {
	content: '';
	background-color: var(--green-600);
	position: absolute;
	bottom: 0;
	width: 0rem;
	height: 2px;
	transition: all 0.4s;
}

.active::before {
	content: '';
	background-color: var(--green-600);
	position: absolute;
	bottom: 0;
	width: 10%;
	height: 2px;
	transition: all 0.4s;
}

.btn-h6:hover::before {
	width: 10%;
}

.btn-h6:hover {
	cursor: pointer;
}

#biography {
	display: block;
}

#carreira {
	display: none;
}

.about-text-area p {
	line-height: 1.8rem;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.about-img-area {
	background: url(../assets/bg1.png),
				url(../assets/bg1.png);
	background-position: center;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
}
.about-img-tech img {
	width: 300px;
}

.about-img-area img {
	width: 100%;
}

/*--------------Portfolio---------*/
.content-projects {
	display: flex;
}

.area-img {
	margin: 10px;
	width: 100px;
	height: 100px;
	background-color: #58B860;
}



/*--------------Contatos---------*/
#contact {
	background-color: var(--black);
	color: var(--white);

	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-direction: column;
	padding-top: 4rem;

	height: 80vh;
	min-height: 400px;
	max-height: 650px;
}

.title-section-dark {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 1rem 0 2rem 0;
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--white);
	border-bottom: 1px solid var(--gray-900);
}

.my-contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.my-contacts a, .my-contacts div, #contact p {
	margin: 1rem 0;
}

.my-contacts div a {
	margin-left: 2rem;
}

footer {
	border-top: 1px solid var(--gray-100);
	background-color: var(--black);
	color: var(--white);
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



@media(max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media(max-width: 720px) {
	html {
		font-size: 87.5%;
	}
	.about-content {
		flex-direction: column;
	}
	.about-text-area {
		width: 95%;
	}
	#tech {
		flex-direction: column-reverse;
	}
}
@media(max-width: 480px) {
	.header-content {
		flex-direction: column;
	}
}